@rendermode InteractiveAuto
<h3>MonsterSearch</h3>

<input type="text" @bind-value="inputText"/>
<button @onclick="HandleSearch" >Search For A Pokemonster!</button>


@code {
    [Parameter]
    public string Query { get; set; } = null!;
    [Parameter]
    public EventCallback<string> QueryChanged { get; set; }
    private string inputText { get; set; } = null!;


    private void HandleSearch(MouseEventArgs e)
    {
        if (string.IsNullOrEmpty(inputText)){
            var rand = new Random();
            inputText = rand.Next(1, 1026).ToString();

        }
        Query = inputText;
    }
}
