@using DungeDexFE.Client.Models
@using DungeDexFE.Client.Pages
@using DungeDexFE.Components
@rendermode InteractiveAuto
<h3>ShowRandom</h3>

<div>
    <button> Get Random Pokemon</button>
</div>
<div>
    <h2>Here is a Randomly Generated DungeDex Monster</h2>

    Insert Data
    @if(monsterRandom != null){
        <MonsterDisplay Monster=monsterRandom />
    }


</div>
@code {
    public Monster? monsterRandom { get; set; } 


    protected override async Task OnInitializedAsync()
    {
        monsterRandom = await MonsterSearch.GetRandomMonster();
    }

}
