@page "/"
@using DungeDexFE.Client.Models
@using DungeDexFE.Client.Pages

<PageTitle>Home</PageTitle>

<h1>Hello, Welcome to DungeDex!</h1>



<div>
    <label for="searchPokemonDb"> Search for DungeDex Monsters Database</label>
    <input id="searchPokemonDB " type="text"  />

</div>
<UserSearch/>
<ShowRandom />


@code{
// 
}

