@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Welcome to DungeDex!</h1>

<div>
    <button> Get Random Pokemon</button>
</div>

<div>
    <label for="searchPokemonDb"> Search for DungeDex Monsters Database</label>
    <input id="searchPokemonDB " type="text"  />

</div>

<div>
    <h2>Here is a Randomly Generated DungeDex Monster</h2>
    <!--
        Insert Data
        <MonsterDisplay />
    -->

</div>


