@page "/dungemon/{Id:int}"
@using System.Security.Claims
@using System.Net
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

@inject IHttpClientFactory clientFactory
@inject AuthStateProvider auth

<PageTitle>DungéDex : Find</PageTitle>

@if (errorMessage != null)
{
	<p>@errorMessage</p>
}

@if (Dungemon != null)
{
	<h3>@Dungemon.NickName</h3>
	<DungemonDisplay Dungemon=Dungemon DungemonChanged="DungemonChanged" />

	@if(!dungemonBelongsToUser)
	{
		<p>This is not your Dungémon, you may not edit it.</p>
	}
	else
	{
		<button class="btn btn-primary" @onclick="HandlePatchRequest">Update Dungémon!</button>
	}
}

@code {
	[Parameter]
	public int Id { get; set; }

	public Dungemon Dungemon { get; set; } = null!;

	private string errorMessage { get; set; } = null!;

	private bool dungemonBelongsToUser = false;

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			using var client = clientFactory.CreateClient("BackendAPI");
			var response = await client.GetAsync($"dungemon/{Id}");
			response.EnsureSuccessStatusCode();
			Dungemon = await response.Content.ReadFromJsonAsync<Dungemon>() ?? throw new Exception();
		}
		catch (HttpRequestException hEx)
		{
			errorMessage = $"There was an issue retrieving data from the Database: {hEx.Message}";
		}
		catch (Exception ex)
		{
			errorMessage = $"There was an issue fetching the Dungémon data: {ex.Message}";
		}

		dungemonBelongsToUser = auth.GetUserId() == Dungemon.UserId;
	}

	private void DungemonChanged(Dungemon updatedDungemon)
	{
		Dungemon = updatedDungemon;
	}

	private async Task HandlePatchRequest(MouseEventArgs e)
	{
		var authState = await auth.GetAuthenticationStateAsync();

		if (authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid) == null)
		{
			errorMessage = "You must be signed-in to edit Dungémon.";
			return;
		}

		try
		{
			using var client = clientFactory.CreateClient("BackendAPI");
			var response = await client.PatchAsJsonAsync<Dungemon>("dungemon", Dungemon!);
			response.EnsureSuccessStatusCode();
			var patchedDungemon = await response.Content.ReadFromJsonAsync<Dungemon>();

			if (patchedDungemon == null)
			{
				errorMessage = "There was an error updating the Dungémon.";
				return;
			}

			Dungemon = patchedDungemon;
		}
		catch (HttpRequestException hex)
		{
			if (hex.StatusCode == HttpStatusCode.Unauthorized) errorMessage = "You must be signed-in to publish Dungémon.";

			else errorMessage = hex.Message;
		}
		catch (Exception ex)
		{
			errorMessage = ex.Message;
		}
	}
}
