@page "/"
@inject NavigationManager nav
@rendermode InteractiveAuto

<PageTitle>DungéDex : Home</PageTitle>
<style>
    .HomeGridContainer {
        display: grid;
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 80%;
        height: 80%;
    }

    .HomeLeftSide {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: start;
        padding: 10px;
    }

    .HomeRightSide {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-content: end;
        padding: 10px;
    }

</style>
<h1>DungéDex</h1>
<link rel="stylesheet" href="Home.razor.css">
<div class="HomeGridContainer" >
 
    <div class="HomeLeftSide" >
        <h2>Welcome to DungéDex!</h2>
        <p>
            Hey Dungeon Masters! Are your players ready to become Dungémon Masters? Your veteran players are probably expecting Oozes, Owlbears, and Orcs, but are they expecting Omastar?
            Make bespoke 5e compatible monsters out of any Pokémon! Save them to your account and edit them to your liking.
            Search for a Pokémon or hit "Randomise" now to get started. Select Browse Dungémon to see what the community has already created!
        </p>
        <p> Use to either search for the pokemon you want or to select a random pokemon</p>
        <p>If the pokemon has forms please write the specific form after a hyphen (eg giratina-origin)</p>
        <DungemonSearch OnSearch="HandleSearch" />


 
    </div>
    <div class="HomeRightSide">
        <DungemonDisplay Dungemon="monster1" />
    </div>

    <br />
    <br />
    <br />

    

</div>

@code
{
 
    Dungemon monster1 = new Dungemon
        {
            BasePokemon = "Lucario",
            NickName = "Luke",
            ChallengeRating = 16,
            ArmorClass = 18,
            ProficiencyBonus = 5,
            HitPoints = 305,
            Strength = 18,
            Dexterity = 15,
            Constitution = 9,
            Intelligence = 18,
            Wisdom = 8,
            Charisma = 10,
            Spells = [new() { Name = "Telepathic Bond", Description = "You forge a telepathic link among up to eight willing creatures of your choice within range, psychically linking each creature to all the others for the duration. Creatures with Intelligence scores of 2 or less aren't affected by this spell." }],
            Type = "Humanoid",
            Cry = "https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/448.ogg",
            ImageLink = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/448.png",
            SpriteLink = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/448.png",
            Actions = [new() { Name = "Tackle", Description = "Melee: +9 to hit, reach 5 ft. Hit: 3d8 + 4 Bludgeoning damage." }],
            Description = "By catching the aura emanating from others, it can read their thoughts and movements.",
            Proficiencies = "Athletics +9",
        };
    public void HandleSearch(string newQuery)
    {
        nav.NavigateTo($"/dungemon/new/{newQuery}", false);
    }

   
}


