.gridContainer {
    display: grid;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    height: 80%;
}

.LeftSide {
    grid-column: 1 span 1;
    padding: 10px;
    left: 0%;
}

.RightSide {
    grid-column: 2 span 1;
    padding: 10px;
    right:0%;
}

