.gridContainer {
    display: grid;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal-width columns */
    gap: 20px;
    width: 100%;
    height: 100%;
}

.LeftSide {
    grid-column: 1 / 2;
    padding: 10px;
    left: 0;
}

.RightSide {
    grid-column: 1 / 2;
    padding: 10px;
    left: 0;
}