
.HomeGridContainer {
    display: grid;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    height: 80%;
}

.HomeLeftSide {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: start;
    padding: 10px;
}

.HomeRightSide {

    grid-column-start: 2;
    grid-column-end: 3;
  justify-content:end;
    padding: 10px;
}

