@page "/"
@inject NavigationManager nav
@rendermode InteractiveAuto

<PageTitle>DungéDex : Home</PageTitle>

<h3>New Dungémon</h3>

<div class="py-4">
    <DungemonSearch OnSearch="HandleSearch" />
</div>

@code
{
    public void HandleSearch(string newQuery)
    {
        nav.NavigateTo($"/dungemon/new/{newQuery}", false);
    }
}


