@page "/pokemonster/{SearchQuery}"
@rendermode InteractiveAuto

<PageTitle>Pokémonster</PageTitle>

<h3>Pokémonster</h3>

@if (!string.IsNullOrEmpty(SearchQuery))
{
    <MonsterLoader idOrName="@SearchQuery" />
}

@code
{
    [Parameter]
    public string SearchQuery { get; set; } = null!;
}

