body {
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 6 columns with equal width */
    grid-template-rows: repeat(4, auto); /* 2 rows, with height based on content */
    width: 30vw; /* Take up 50% of the viewport width */
    height: 30vh;
    gap: 5px; /* Space between grid items */
}


.grid-item {

    text-align: center;
}

    .grid-item[spaceId="CR-Label"] {
        grid-column: 1; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="CR-Id"] {
        grid-column: 1; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="CR-Warn"] {
        grid-column: 1; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="4"] {
        grid-column: 2; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="5"] {
        grid-column: 2; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="6"] {
        grid-column: 2; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="7"] {
        grid-column: 3; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="8"] {
        grid-column: 3; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="9"] {
        grid-column: 3; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="10"] {
    grid-column: 4; /* Place item 3 in column 2 */
    grid-row: 1; /* Place item 3 in row 2 */
}
    .grid-item[spaceId="11"] {
    grid-column: 4; /* Place item 3 in column 2 */
    grid-row: 2; /* Place item 3 in row 2 */
}
    .grid-item[spaceId="12"] {
    grid-column: 4; /* Place item 3 in column 2 */
    grid-row: 3; /* Place item 3 in row 2 */
}
    .grid-item[spaceId="13"] {
        grid-column: 5; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="14"] {
        grid-column: 5; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="15"] {
        grid-column: 6; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="16"] {
        grid-column: 6; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="17"] {
        grid-column: 6; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="18"] {
        grid-column: 6; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="19"] {
        grid-column: 7; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="20"] {
        grid-column: 7; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="21"] {
        grid-column: 7; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="22"] {
        grid-column: 8; /* Place item 3 in column 2 */
        grid-row: 1; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="23"] {
        grid-column: 8; /* Place item 3 in column 2 */
        grid-row: 2; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="24"] {
        grid-column: 8; /* Place item 3 in column 2 */
        grid-row: 3; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="25"] {
        grid-column: 1; /* Place item 3 in column 2 */
        grid-row: 4; /* Place item 3 in row 2 */
    }
    .grid-item[spaceId="submit"] {
        grid-column: 2; /* Place item 3 in column 2 */
        grid-row: 4; /* Place item 3 in row 2 */
    }

