@using DungeDexFE.Client.Components.DungemonEditingComponents


<EditForm model=@Dungemon OnInvalidSubmit=@InvalidFormSubmitted OnValidSubmit=@ValidFormSubmitted>

	
	<div class="grid-container">
	</div>

		

		


		


		


		
	
</EditForm>

@code {
	[Parameter]
	public Dungemon Dungemon { get; set; } = null!;

	[Parameter]
	public EventCallback<Dungemon> DungemonChanged { get; set; }

	private bool _isEditing { get; set; } = false;

	private string _submitResult = null!;

	private void HandleButtonClick(MouseEventArgs e)
	{
		_isEditing = true;
	}

	public async Task ValidFormSubmitted(EditContext editContext)
	{
		await DungemonChanged.InvokeAsync(Dungemon);

		_submitResult = "Dungémon updated!";

		_isEditing = false;
	}

	public void InvalidFormSubmitted(EditContext editContext)
	{ 
		_submitResult = "Please enter valid values.";
	}
}
