@using System.Text.Json;
@using System.Linq.Expressions

<div class="container p-2 align-items-center" style="background-color: saddlebrown; border: 5px outset grey; border-radius: 2rem;">

    <div class="row justify-content-start">
        <div class="col">
            <h3 class="p-2 w-auto">@Dungemon.Name</h3>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-auto flex-column justify-space-between">
            <img src="@Dungemon.ImageLink" style="height: 250px;" />
            <h5 class="text-center align-bottom fst-italic my-auto">@Dungemon.Name</h5>
        </div>

        <div class="col">
            <DungemonAttributeEditor Dungemon="Dungemon" DungemonChanged="DungemonChanged"/>
        </div>
    </div>
</div>
  <!--SpellEditor dungeon spell-->

    <SpellEditor spellList="Dungemon.Spells" />

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter]
    public EventCallback<Dungemon> DungemonChanged { get; set; }
}