@using System.Text.Json;
@using System.Linq.Expressions

<div class="container p-4 align-items-center" style="background-color: saddlebrown; border: 5px outset grey; border-radius: 2rem;">

    <div class="row justify-content-start">
        <div class="col">
            <InputText class="w-auto" @bind-Value="@Dungemon.NickName" placeholder="@Dungemon.BasePokemon"/>
            <button @onclick="HandleNicknameChange">Save Name</button>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-auto flex-column justify-space-between">
            <img src="@Dungemon.ImageLink" style="height: 250px;" />
            <h5 class="text-center align-bottom fst-italic my-auto">@Dungemon.BasePokemon</h5>
        </div>

        <div class="col">
            <DungemonAttributeEditor Dungemon="Dungemon" DungemonChanged="DungemonChanged"/>
        </div>
    </div>

    <SpellEditor Spells="Dungemon.Spells" />
</div>

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter]
    public EventCallback<Dungemon> DungemonChanged { get; set; }
    private void HandleNicknameChange(MouseEventArgs e)
    {
        DungemonChanged.InvokeAsync(Dungemon);
    }
}