@rendermode @(new InteractiveWebAssemblyRenderMode(false))

@inject AuthStateProvider auth
@inject IHttpClientFactory clientFactory
@inject NavigationManager nav

@using System.Text.Json
@using System.Text.RegularExpressions
@using System.Net
@using System.Security.Claims

@if(!string.IsNullOrEmpty(errorMessage))
{
	<p>An error occurred while fetching the Dungémon data for '@idOrName':</p>
	<p>@errorMessage</p>    
}
else if (Dungemon != null)
{
	<DungemonDisplay Dungemon="Dungemon" DungemonChanged="DungemonChanged"/>
	<button class="m-2" type="submit" @onclick="PostDungemon">Publish!</button>
	<p>@publishErrorMessage</p>
}

@code {
	[Parameter]
	public string idOrName { get; set; } = null!;

	public Dungemon? Dungemon { get; set; } = null!;

	private string errorMessage { get; set; } = null!;

	private string publishErrorMessage { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			using var client = clientFactory.CreateClient("BackendAPI");
			var response = await client.GetAsync($"pokemon/{idOrName}/monsterify");
			response.EnsureSuccessStatusCode();
			Dungemon = await response.Content.ReadFromJsonAsync<Dungemon>();
		}
		catch (HttpRequestException ex)
		{
			errorMessage = ex.Message;
		}
		catch
		{
			errorMessage = "Could not process the Pokémonster data. Please try again later.";
		}
	}

	private void DungemonChanged(Dungemon dungemon)
	{
		Dungemon = dungemon;
	}


	private async Task PostDungemon(MouseEventArgs e)
	{
		var authState = await auth.GetAuthenticationStateAsync();

		if (string.IsNullOrEmpty(authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value))
		{
			publishErrorMessage = "You must be signed-in to publish Dungémon.";
			return;
		}

		try
		{
			using var client = clientFactory.CreateClient("BackendAPI");
			var response = await client.PostAsJsonAsync<Dungemon>("dungemon", Dungemon!);
			response.EnsureSuccessStatusCode();
			var addedDungemon = await response.Content.ReadFromJsonAsync<Dungemon>();
			nav.NavigateTo($"dungemon/{addedDungemon?.Id}");
		}
		catch (HttpRequestException hex)
		{
			if (hex.StatusCode == HttpStatusCode.Unauthorized) publishErrorMessage = "You must be signed-in to publish Dungémon.";

			else publishErrorMessage = hex.Message;
		}
		catch (Exception ex)
		{
			publishErrorMessage = ex.Message;	
		}
	}
}
