<h2>Spells</h2>

@if (Spells.Count == 0)
{
    <p>To add spells, click 'Add Spell'.</p>
}

@foreach (var spell in Spells)
{
    <SpellDisplay Spell="spell" RemoveSpell="RemoveSpell"/>
    <br /><br />
}

@if (!isAddActive)
{
    <button @onclick="ToggleAdd">Add Spell</button>
}
else
{
    <SpellLoader AddSpell="AddSpell"/>
}


@code {
    [Parameter] 
    public required List<Spell> Spells { get; set; }

    [Parameter]
    public EventCallback<List<Spell>> SpellsChanged { get; set; }

    public bool isAddActive =  false;

    public void RemoveSpell(Spell spellToRemove)
    {
        Spells.Remove(spellToRemove);
        SpellsChanged.InvokeAsync(Spells);
    }

    public void ToggleAdd()
    {
        isAddActive = !isAddActive;
    }

    public void AddSpell(Spell? spellToAdd)
    {
        if (spellToAdd != null) 
        {
            Spells.Add(spellToAdd);
            SpellsChanged.InvokeAsync(Spells);
        }

        ToggleAdd();
    }

}
