@rendermode InteractiveWebAssembly

@if (user is not null)
{
	<h3>@user.UserName</h3>

	@if (user.Dungemon.Count > 0)
	{
		<hr />

		<div class="my-4">
			<h5>@(user.UserName)'s Dungémon</h5>
			<DungemonTable dungemonList="user.Dungemon" />
		</div>
	}
}

@code 
{
	[Parameter, EditorRequired]
	public User user { get; set; } = null!;
}
