@inject NavigationManager nav
@rendermode InteractiveWebAssembly

@if (user != null)
{
	<h3>@user.UserName</h3>

	<h4>Dungemon by @user.UserName</h4>
	
	<DungemonTable dungemonList="user.Dungemons" />
}

@code {
	[Parameter]
	public required User user { get; set; } = new User
		{
			UserName = "BigPokemonFan",
			Dungemons = new List<Dungemon>
			{
				new Dungemon
				{
					BasePokemon = "Lilligant",
					NickName = "Steve",
					ChallengeRating = 12,
					ArmorClass = 12,
					HitPoints = 100,
					Strength = 14,
					Constitution = 13,
					Wisdom = 14,
					Intelligence = 12,
					Dexterity = 18,
					Charisma = 9,
					Id = 1
				}
			}
		};

}
