@rendermode InteractiveWebAssembly

@if (User is not null)
{
	<h3>@User.UserName</h3>

	@if (User.Dungemon.Count > 0)
	{
		<hr />

		<div class="my-4">
			<h5>@(User.UserName)'s Dungémon</h5>
			<DungemonTable dungemonList="User.Dungemon" />
		</div>
	}
}

@code 
{
	[Parameter, EditorRequired]
	public User User { get; set; } = null!;
}
