@rendermode InteractiveWebAssembly

@if (user is not null)
{
	<h3>@user.UserName</h3>

	@if (user.Dungemons.Count > 0)
	{
		<div class="my-4">
			<hr />
			<h5>@(user.UserName)'s Dungémon</h5>
			<DungemonTable dungemonList="user.Dungemons" />
		</div>
	}
}

@code {
	[Parameter]
	public User user { get; set; } = null!;

	private List<Dungemon> _userDungemon = [];

	protected override void OnParametersSet()
	{
		_userDungemon = user.Dungemons;
	}
}
