<label for="ac" style="width: 50px; text-align: left;">AC</label>

<InputNumber TValue="int" id="ac"
    disabled="@(!IsEditing)"
    style="width:50px; text-align: right; border: none;"
    placeholder="AC"
    @bind-Value="Dungemon.ArmorClass"
    @onblur="ArmorClassChanged" />

<ValidationMessage For="() => Dungemon.ArmorClass" />

@code {
    [Parameter, EditorRequired]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool IsEditing { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Dungemon> DungemonChanged { get; set; }

    private async Task ArmorClassChanged()
    {
        await DungemonChanged.InvokeAsync(Dungemon);
    }
}

