<label for="CR" style="width: 50px; text-align: center;">CR</label>

<InputNumber TValue="float" id="cr"
    disabled="@(!IsEditing)"
    style="width:50px; text-align: center; border: none;"
    placeholder="CR"
    @bind-Value="Dungemon.ChallengeRating"
    @onblur="ChallengeRatingChanged" />

<ValidationMessage For="() => Dungemon.ChallengeRating" />

@code {
    [Parameter, EditorRequired]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool IsEditing { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Dungemon> DungemonChanged { get; set; }

    private async Task ChallengeRatingChanged()
    {
        await DungemonChanged.InvokeAsync(Dungemon);
    }
}
