<br/>
@if (!IsEditing)
{

    <p id="description" style=" font-size:1.6rem; width:auto; text-align: left; border: none;"> @Dungemon.Description </p>
}
else
{


    <InputTextArea id="description" TValue="float" @bind-Value="@Dungemon.Description" disabled="@(!IsEditing)" style="font-size:1.6rem; width:100%; text-align: left; border: none;" />
}


@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
    [Parameter]
    public bool IsEditing { get; set; }
}
