<h3>Description</h3>

<InputTextArea id="description" style="width:100%; text-align: left; border: none;" 
@bind-Value="@Dungemon.Description" 
@onblur="DescriptionChanged"
disabled="@(!IsEditing)" />


@code {
	[Parameter]
	public Dungemon Dungemon { get; set; } = null!;

	[Parameter]
	public bool IsEditing { get; set; }

	[Parameter]
	public EventCallback<Dungemon> DungemonChanged { get; set; }

	private async Task DescriptionChanged(FocusEventArgs e)
	{
		await DungemonChanged.InvokeAsync(Dungemon);
	}
}
