@if (!IsEditing)
{

    <p id="description" style="width:500px; text-align: left; border: none;"> @Dungemon.Description </p>
}
else
{


    <InputText id="cr" TValue="float" @bind-Value="@Dungemon.Description" disabled="@(!IsEditing)" style="width:500px; text-align: left; border: none;" />
}


@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
    [Parameter]
    public bool IsEditing { get; set; }
}
