<img src="@Dungemon.ImageLink" style="height: 250px;" />
<h5 class="text-center align-bottom fst-italic my-auto">@Dungemon.BasePokemon</h5>
@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
   
}
