<img src="@Dungemon.ImageLink" style="height: 250px;" />
<br />
<p>=========================================</p>
<h5>@Dungemon.BasePokemon</h5>

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
   
}
