@inject IJSRuntime jsRuntime
<script id="soundPlay">
    window.PlayAudio = (cry) => {
            let dungemonCry = document.getElementById(cry);
            dungemonCry.volume = 0.02;
        dungemonCry.play();
    } </script>
<img src="@Dungemon.ImageLink" style="height: 250px;" @onmouseover="MakeNoise" />
<audio id ="cry" src="@Dungemon.Cry" type="audio/ogg"/>
<br />
<p></p>
<h5 >@Dungemon.BasePokemon</h5>

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
    public async Task MakeNoise(){
        await jsRuntime.InvokeAsync<string>("PlayAudio", "cry");
    }
    
}
