@if(IsEditing){
    <button @onclick="AddNew">Add Attack</button>
}

@code {
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public List<MonsterAction> Attacks { get; set; }

    public EventCallback<List<MonsterAction>> AttacksChanged { get; set; }

    public void AddNew()
    {
        IsEditing = true;

        Attacks.Add(new());
    }
   
}
