<label for="hp" style="width: 50px; text-align: left;">HP</label>

<InputNumber TValue="int" id="hp"
    disabled="@(!IsEditing)"
             style="width:50px; text-align: center; border: none;"
             placeholder="HP"
             @bind-Value="Dungemon.HitPoints"
             @onblur="HitPointsChanged" />

<ValidationMessage For="() => Dungemon.HitPoints" />

@code {
    [Parameter, EditorRequired]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool IsEditing { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Dungemon> DungemonChanged { get; set; }

    private async Task HitPointsChanged()
    {
        await DungemonChanged.InvokeAsync(Dungemon);
    }
}

