
<label for="HP" "display:inline-block;   width: 50px;
  text-align: right;">HP</label>


<InputNumber id="hp" TValue="int" @bind-Value="@Dungemon.HitPoints" disabled="@(!IsEditing)" style="width: 50px; text-align: center; border: none;" class="inputNum" />


	<ValidationMessage For="() => Dungemon.HitPoints" />

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public EventCallback<Dungemon> DungemonChanged { get; set; }
    private void HandleNicknameChange()
    {
        DungemonChanged.InvokeAsync(Dungemon);
    }
}
