
<label for="HP" style ="   width: 50px;
  text-align: left;">HP  </label>

  	@if(!IsEditing){
    <p id="hp" style="width: 50px; border: none; display:inline-block;"> @Dungemon.HitPoints </p>
	}
	else{
<InputNumber id="hp" TValue="int" @bind-Value="@Dungemon.HitPoints" disabled="@(!IsEditing)" style="width: 50px; border: none;"  />
    }

	<ValidationMessage For="() => Dungemon.HitPoints" />

@code {
    [Parameter]
    public Dungemon Dungemon { get; set; } = null!;
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public EventCallback<Dungemon> DungemonChanged { get; set; }
    private void HandleHPChange()
    {
        DungemonChanged.InvokeAsync(Dungemon);
    }
}
