<h3>Proficiencies:</h3>

<InputText id="proficiencies" style="width:100%; text-align: left; border: none;"
@bind-Value="@Dungemon.Proficiencies"
@onblur="ChangeProficiencies"
disabled="@(!IsEditing)" />


@code 
{
	[Parameter]
	public Dungemon Dungemon { get; set; } = null!;

	[Parameter]
	public bool IsEditing { get; set; }

	[Parameter]
	public EventCallback<Dungemon> DungemonChanged { get; set; }

	private async Task ChangeProficiencies(FocusEventArgs e)
	{
		await DungemonChanged.InvokeAsync(Dungemon);
	}
}
