<label for="type" style="width: 50px; text-align: left;">Type</label>

<InputText id="type" 
    style="width: 150px;"
    placeholder="Monster Type" 
    disabled="@(!IsEditing)"
    @bind-Value="@Dungemon.Type" 
    @onblur="TypeChanged" />


@code {
    [Parameter, EditorRequired]
    public Dungemon Dungemon { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool IsEditing { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Dungemon> DungemonChanged { get; set; }

    private async Task TypeChanged()
    {
        await DungemonChanged.InvokeAsync(Dungemon);
    }
}
