@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4"> *@
        @* </div> *@

        <article class="bg"> <!--BACKGROUND IMG CHANGE IN CSS-->
            @Body
        </article>
    </main>
  

</div>
<footer id="footer" style="font-size: 0.75rem;">Pokémon & Pokémon character names are trademarks of Nintendo. Dungeons And Dragons & associated content is the property of Wizards of the Coast & is used here under the creative commons license.</footer>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

